* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root {
    --color-primary: #5B4FE9;
    --color-primary-dark: #4A3FD1;
    --color-bg: #F3F1FB;
    --color-surface: #FFFFFF;
    --color-text: #1A1A2E;
    --color-text-secondary: #6B6B80;
    --color-accent: #FFB020;
    --color-border: #E4E1F5;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.hidden {
    display: none;
}

header{
    background-color: var(--color-surface);
    padding: 16px 40px;
    border-bottom: 1px solid var(--color-border);
}

header img {
    width: 50px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-link {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav-link.active {
    color: var(--color-primary);
    font-weight: 500;
}

main {
    margin: 0 auto;
    padding: 32px 40px
}

.section-heading h1 {
    font-size: 28px;
    font-weight: 600;
}

.section-heading p {
    font-size: 13px;
    color: var(--color-text-secondary);
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    padding: 14px;
    margin-bottom: 16px;
}

.search-bar i {
    color: var(--color-text-secondary);
    font-size: 14px;
}
